<p style="color: green"><%= notice %></p>

<p>Bem-vindo <%= current_admin.email %></p>

<% if admin_signed_in? %>
  <%= link_to destroy_admin_session_path, data: { turbo_method: :delete } do %>
    Fazer Logoff
  <% end %>
<% end %>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Mostrar este artigo", [:administrate, article] %>
    </p>
  <% end %>
</div>

<%= link_to "Novo artigo", new_administrate_article_path %>
