<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edite este artigo", edit_administrate_article_path(@article) %> |
  <%= link_to "Voltar aos artigos", administrate_articles_path %>

  <%= button_to "Destrua este artigo", [:administrate, @article], method: :delete %>
</div>
